.header {
  background-color: #212121;
  color: #ffffff;
  padding: 10px 0;
  position: sticky;
  top: 0;
  z-index: 1000; 
}
.header-container {
  width: 100%; 
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  font-size: 2rem;
  font-weight: 700;
  margin-left: 20px;
}

.logo-white {
  color: #ffffff;
}

.logo-yellow {
  color: #ffca28; 
}

.header__button {
  background-color: transparent;
  border: 2px solid #ffca28;
  border-radius: 20px;
  padding: 6px 16px;
  color: #ffca28;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.header__button:hover {
  background-color: #ffca28;
  color: #212121;
}

.header-ofertas{
 color: #ffca28;
 font-weight: bold;
}

.header-icons {
  margin-right: 20px;
  display: flex;
  gap: 20px;
  font-size: 1.2rem;
  cursor: pointer;
}

.header-icons svg {
  color: #ffca28;
  transition: 0.3s;
}

.header-icons svg:hover {
  color: #ff6f00;
}

.icon {
  color: #fcb900;
  font-size: 1.3rem;
  margin-left: 15px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.icon:hover {
  transform: scale(1.2);
}
